body {
    position: absolute;
    width: 100%;
    margin: 0;
}


body,
button,
input,
select,
textarea {
    font-size: 16px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.6;
    font-weight: 300;
    font-style: normal;
    font-variant: normal;
    color: #333;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

a {
    color: #c65d5d;
    text-decoration: none;
    font-weight: 400;
}

a:hover {
    text-decoration: underline;
}

.header-wrapper {
    width: 100%;
    margin: 0 auto;
    background: url(../images/new-york-panoramic-view.jpg) 50% no-repeat;
    background-size: cover;
    background-position: center;
    font-family: "Montserrat", "Raleway", Helvetica Neue;
    font-weight: 400;
    font-size: 1em;
}

.header-inner {
    width: 100%;
    text-align: center;
    background: rgba(110,110,100,0.35);
    padding: 40px 0 0 0;
    position: relative;
}

.logo {
    margin: 0 auto;
    height: 60px;
    width: auto;

}
.name {
    line-height: 1;
    padding: 10px 0 0;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    margin: 0;
}

.name a {
    font-size: 2em;
    color: #fff;
    text-decoration: none;
}

h3.tagline {
    color: #fff;
    font-size: 1.5em;
    margin: 20px 0;
    padding: 0 0 90px;
}

.profile-img {
    position: absolute;
    bottom: 0;
    left: 50%;
    background: #fff;
    width: 120px;
    height: 120px;
    padding: 3px;
    margin: 0 0 -60px -60px;
    box-shadow: 0 -3px 4px #343536;
    box-shadow: 0 -3px 4px rgba(0,0,0,0.5);
}

.profile-img img {
    width: 120px;
    height: auto;
}

.profile-img img, .profile-img {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
}

.bio {
    margin: 0 auto;
    padding: 50px 0;
    overflow-y: hidden;
    width: 90%;
}

p.description {
    text-align: center;
    font-size: 22px;
    max-width: 520px;
    margin: 0 auto;
    padding: 40px 0 0;
}

nav {
    text-align: center;
    width: 100%;
    overflow: hidden;
    padding: 20px 0;
}

nav ul {
    padding: 10px;
    margin: 0;
}
nav ul li {
    display: inline;
    padding: 0 20px;
}

nav ul li a {
    color: #333;
    font-size: 28px;
}

nav ul li a:hover {
    color: #c65d5d;
}

@media screen and (max-width: 767px) {
    body {
        font-size: .8em;
    }

    .header-inner {
        padding: 20px 0 0;
    }

    .name a {
        font-size: 1.5em;
        background: none;
        padding: 10px 0 0;
    }

    h3.tagline {
        margin: 10px 0;
        padding: 0 0 70px;
    }
    .profile-img {
        width: 95px;
        height: 95px;
        margin: 0 0 -47.5px -47.5px;
    }

    .profile-img img {
        width: 95px;
    }

    p.description {
        font-size: 20px;
        padding: 20px 0 0;
    }

    nav ul li a {
        font-size: 36px;
    }

}

@media screen and (max-width: 519px) {
    .logo {
        height: 40px;
        width: auto;
    }

    .name a {
        font-size: 1.2em;
    }

    h3.tagline {
        font-size: 1.2em;
    }

    p.description {
        font-size: 18px;
    }

    nav ul li a {
        font-size: 48px;
    }


}